{% extends 'base.html' %}

{% load static %}

{% block title %}Login{% endblock %}

{% block extra_head %}
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
	<main>
		<form method="post">
			{% csrf_token %}
			<label for="login">Login</label>
			<input type="text" id="login" name="login">
			<br>
			<label for="password">Password</label>
			<input type="password" id="password" name="password">
			<br>
			<button type="submit">Login</button>
			<button type="button" id="signin" onclick="window.location.href='/signin/'">Sign In</button>
			<br>
			<button type="button" id="Auth42">42</button>
		</form>
	</main>
{% endblock %}