#buttonShooter3D {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 4px;
	transition: background-color 0.3s ease;
	position: absolute;
	top: calc(50vh - 15px - 16px);
	left: calc(50vw - 15px - 32px);
}

#buttonShooter3D:hover {
	background-color: #45a049;
}

#shooter
{
	display: block;
	width: 80%;
	height: 80%;
}

body {
	margin: 0px;
}