{% block content %}
	<header>
		<nav>
			<ul>
				<li><a href="/login">Log In</a></li>
				<li><a href="/signin">Sign In</a></li>
				<li><a href="/games">Games</a></li>
				<li><a href="/game">Game</a></li>
				<li><a href="/pong">Pong</a></li>
				<li><a href="/shooter">Shooter</a></li>
			</ul>
		</nav>
	</header>
	{% if user.is_authenticated %}
		<p>You are logged in as {{ user.username }}.</p>
		<button type="button" id="logout-button">Logout</button>
	{% else %}
		<p>You are not logged in.</p>
	{% endif %}
{% endblock %}