{% block content %}
<header>
    {% if user.is_authenticated %}
        <p>Bienvenue {{ user.username }}!</p>
        <nav>
            <ul id="nav-links">
                <li><a href="#games">Games</a></li>
                <li><a href="#game">Game</a></li>
                <li><a href="#pong">Pong</a></li>
                <li><a href="#shooter">Shooter</a></li>
                <li><a href="#profile">Profile</a></li>
            </ul>
        </nav>
        <button type="button" id="logout-button" onclick="window.location.hash = 'logout'">Logout</button>
    {% else %}
        <p>Bienvenue, veuillez vous connecter ou vous inscrire pour accéder au site.</p>
        <ul id="nav-links">
                <li><a href="#login">Se connecter</a></li>
                <li><a href="#register">S'inscrire</a></li>
        </ul>
    {% endif %}
</header>
{% endblock %}
