<!DOCTYPE html>
{% load static %}
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}Transcendence{% endblock %}</title>
		<link rel="stylesheet" href="{% static 'css/index.css' %}">
		<script src="https://unpkg.com/three@v0.160.1/build/three.min.js"></script>
		<script type="importmap">
			{
			"imports": {
				"three": "https://unpkg.com/three@v0.160.1/build/three.module.js",
				"three/addons/": "https://unpkg.com/three@v0.160.1/examples/jsm/"
			}
			}
		</script>
	</head>
	<body>
		<div id="message"></div>
		<div id="page"></div>
		{% include 'footer.html' %}
	</body>
	<script type="module" src="{% static 'js/load.js' %}"></script>
	<script type="module" src="{% static 'js/pong.js' %}"></script>
</html>
