{% load static %}
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Transcendence</title>
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
		<link rel="stylesheet" href="{% static 'css/index.css' %}">
		<!-- Poppins - Google Font -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
		<!-- ThreeJS -->
		<script src="https://unpkg.com/three@v0.161.0/build/three.min.js"></script>
		<script type="importmap">
			{
				"imports": {
					"three": "https://unpkg.com/three@v0.161.0/build/three.module.js",
					"three/addons/": "https://unpkg.com/three@v0.161.0/examples/jsm/"
				}
			}
		</script>
	</head>
	<body>
		<div id="page">
		</div>
		{% include 'footer.html' %}
		<script>
			var defaultAvatarUrl = "{% static 'img/user-image-s.png' %}";
		</script>
		<script type="module" src="{% static 'js/load.js' %}"></script>
		<script src="https://kit.fontawesome.com/e62912d1a1.js" crossorigin="anonymous"></script>
	</body>

</html>
