{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Transcendence{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <link rel="stylesheet" href="{% static 'css/register.css' %}">
        <script src="https://unpkg.com/three@v0.160.1/build/three.min.js"></script>
        <script type="importmap">
            {
            "imports": {
                "three": "https://unpkg.com/three@v0.160.1/build/three.module.js",
                "three/addons/": "https://unpkg.com/three@v0.160.1/examples/jsm/"
            }
            }
        </script>
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <div id="header">
                <h1>Bienvenue sur Transcendence!</h1>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
        </div>
        <div id="message"></div>
        <div id="page">
        </div>
        {% block footer %}{% include 'footer.html' %}{% endblock %}
    </body>
    <script type="module" src="{% static 'js/routes.js' %}"></script>
    <script type="module" src="{% static 'js/login.js' %}"></script>
    <script type="module" src="{% static 'js/load.js' %}"></script>
</html>
