*
{
	padding: 0;
	margin: 0;
}

body
{
	background-color: #FEFEE2;
}

header
{
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

footer
{
	width: 100%;
	height: 1em;
}

footer p
{
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	text-align: center;
	font-size: 0.75em;
}

main
{
	background-color: white;
	width: 100%;
	height: auto;
	position: relative;
	display: flex;
	margin-top: auto;
}