{% load static %}
<main class="main-content">
	<div class="wrapper wrapper-register">
		<form method="post" id="password-form">
			{% csrf_token %}
			<p id="message"></p>
			<div class="input-box input-box-reg">
				<input type="password" placeholder="Old Password" id="old_password" required />
			</div>
			<div class="input-box input-box-reg">
				<input type="password" placeholder="New password" id="new_password" required />
			</div>
			<div class="input-box input-box-reg">
				<input type="password" placeholder="Confirm new password" id="confirm_password" required />
			</div>
			<button type="submit" class="btn">Save changes</button>
		</form>
	</div>
</main>