{% load static %}
<main class="game-tour-wrapper">
    <h1 class="game-1-header">Game 1</h1>

    <form class="tournament-create-form">
        <input type="text" placeholder="Tournament Name" required>

        <br>
        <br>

        <label class="range-label" for="slider" id="points">Points</label>
        <input type="range" id="slider" name="slider" min="1" max="10" value="10" required>

        <label class="range-label" for="slider2" id="players">Players</label>
        <input type="range" id="slider2" name="slider" min="4" max="8" value="4" step="4" required>
        <br>
        <br>

        <div class="button-container">
            <button type="button" class="blue-btn" id="createTournament">Tournament</button>
        </div>
    </form>
</main>