{% load static %}
<main class="game-tour-wrapper">
    <h1 class="game-1-header">{{game.name}}</h1>
    <p id="message"></p>
    <form class="tournament-create-form">
        <input id="tour-name" type="text" placeholder="Tournament Name" required value="{{game.name}} by {{user.username}}">
        
    
        <label for="players">Select Number of Players:</label>
        <select id="nb_players" name="players">
            <option value="2">2</option>
            <option selected value="4">4</option>
            <option value="8">8</option>
            <option value="16">16</option>
        </select>
        <input type="hidden" id="game_id" value="{{game.id}}">
        <div class="button-container">
            <button type="button" class="blue-btn" id="create">Create</button>
        </div>
    </form>
</main>