{% load static %}
<div class="User-section dashboard-section">
    <div class="custom-container">
        <div class="user-main-cont">
            <div class="user-cont">
                <div class="navs-tabs">
                    <div class="navs">
                        <a class="tab-link active" data-tab="tab1">Pong</a>
                        <a class="tab-link" data-tab="tab2">Tictactoe</a>
                    </div>

                    <main class="game-tour-wrapper leaderboard-wrapper">
                        <h1 class="game-1-header">Leaderboard</h1>

                        <table class="table leaderboard-table">
                            <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Player</th>
                                <th>Matches</th>
                                <th>Win %</th>
                            </tr>
                            </thead>
                            <tbody id="leaderboardBody">
                                <!-- Dynamic rows will be inserted here -->
                            </tbody>
                        </table>
                    </main>

                    <div id="tab1" class="tab-content active-tab">
                        <div class="stats">
                            <div class="cards-main">
                                <div class="dashboard-card">
                                    <h5>Rank</h5>
                                    <h1>#</h1>
                                </div>
                                <div class="dashboard-card">
                                    <h5>Best Player</h5>
                                    <div class="best-player">
                                        <img src="{% static 'img/user-image.png' %}" class="img-leaderboard img-stat" alt="user">
                                        <p class="best-player-name"></p>
                                    </div>
                                </div>
                                <div class="dashboard-card">
                                    <h5>Total Players</h5>
                                    <h1>0</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Right Side (Charts & Graphs) -->
            <div class="main-friend-list chart-graph-side">
                <div class="friend-list">
                    <div class="sex-charts charts">
                        <h4>User Sex Demographics</h4>
                        <canvas id="genderDemographicsChart" width="230" height="230"></canvas>
                    </div>
                    <br>
                    <div class="age-charts charts">
                        <h4>User Age Demographics</h4>
                        <canvas id="ageDemographicsChart" width="230" height="230"></canvas>
                    </div>
                    <br>
                    
                </div>
            </div>
        </div>
    </div>
</div>