{% include 'header.html' %}
{% load templatetags %}
{% load static %}
<main class="main-content">
	<div class="wrapper wrapper-register">
		<form method="post" id="profile-form">
			{% csrf_token %}
			<p id="message"></p>
			<div class="avatar-upload-container">
				{% if user.avatar %}
				<img src="{{ user.avatar.url }}" class="avatar-placeholder" id="avatar-preview" alt="user" />
				{% else %}
				<img src="{% static 'img/avatar-placeholder.png' %}" class="avatar-placeholder" id="avatar-preview"
					alt="user" />
				{% endif %}
				<input type="file" id="avatar" name="avatar" accept="image/*" style="display: none" />
				<div class="image-upload-area">
					<label for="avatar" id="avatar" name="avatar">
						<img src="{% static 'img/pencil.png' %}" class="avatar-upload-icon" width="40" height="40"
						alt="user" />
					</label>
				</div>
			</div>
			<div class="input-box input-box-reg">
				<input type="text" placeholder="First Name" id="firstname" value="{{ user.first_name }}" required />
			</div>
			<div class="input-box input-box-reg">
				<input type="text" placeholder="Last Name" id="lastname" value="{{ user.last_name }}" required />
			</div>
			<div class="input-box input-box-reg">
				<input type="text" placeholder="Username" id="username" value="{{ user.username }}" required />
			</div>
			<div class="input-box input-box-reg">
				<input type="password" placeholder="Password" id="password" required />
			</div>
			<div class="input-box input-box-reg">
				<input type="password" placeholder="Confirm Password" id="password_confirm" required />
			</div>
			<div class="input-box input-box-reg">
				<input type="email" placeholder="Email" id="email" value="{{ user.email }}" required />
			</div>
			<div class="input-box input-box-reg">
				<input type="date" placeholder="Date of Birth" id="birthdate" value="{{ user.birthdate|to_date_string }}" required />
			</div>
			<select id="sexe" name="sexe" class="input-box input-box-reg">
				<option value="F" title="Female" {% if user.sexe == 'F' %}selected{% endif %}>Female</option>
				<option value="M" title="Male" {% if user.sexe == 'M' %}selected{% endif %}>Male</option>
				<option value="N" title="Other" {% if user.sexe == 'N' %}selected{% endif %}>Other</option>
			</select>
			<button type="submit" class="btn">Save changes</button>
		</form>
	</div>
</main>