{% include 'header.html' %}
{% load static %}
<main class="game-wrapper">
	<h1 class="game-1-header">{{ games.0.name }}</h1>

	<ul class="game-rules">
	  <li>
		Genres : {{ games.0.genre }}</li>
	  </li>
	  <li>
		Description : {{ games.0.description }}
	  </li>
	  <li>
		Rules : {{ games.0.rules }}
	  </li>
	</ul>

	<div class="button-container games-btns">
	  <button type="button" class="blue-btn" id="matchmaking">Matchmaking</button>
	  <a href="#join-tournament" type="button" class="blue-btn">Join Tournament</a>
	</div>
</main>
