{% include 'header.html' %}
{% load static %}
<main class="games-section">
    <h1>Games</h1>
    <div class="games-grid">
        <div>
            <a href="#game-1">
                <img src="{% static 'img/pong.jpg' %}" class="game-image" alt="pong">
                <h2>Pong</h2>
            </a>
        </div>
        <div>
            <a href="#game-2">
                <img src="{% static 'img/pew.jpg' %}" class="game-image" alt="shooter">
                <h2>Shooter</h2>
            </a>
        </div>
    </div>
</main>