{% load static %}
<main class="game-content-page">
	<div class="game-wrapper">
		<h1 class="game-1-header">{{ game.name }}</h1>
	
		<ul class="game-rules">
		<li>
			Genres : {{ game.genre }}</li>
		</li>
		<li>
			Description : {{ game.description }}
		</li>
		<li>
			Rules : {{ game.rules }}
		</li>
		</ul>
	
		<div class="button-container games-btns">
		<a type="button" class="blue-btn matchmaking-btn" data-game-id = {{game.id}}>Matchmaking</a>
		<a href="#tournament?id={{ game.id }}" type="button" class="blue-btn">Tournament</a>
		</div>
	</div>
	<div class="loading-overlay loading-hidden"></div>
	<div class="loading-modal loading-hidden">
		<div class="loading-container">
			<p>Waiting for a player...</p>
			<div class="lds-ring"><div></div><div></div><div></div><div></div></div>
			<button class="cancel-button">Cancel</button>
		</div>
	</div>
</main>