{% load static %}
<main class="games-section">
    <h1>Games</h1>
    <div class="games-grid">
        {% if not games %}
            <h2>No games available</h2>
        {% else %}
            {% for game in games %}
                <div>
                    <a href="#game-{{ game.id }}">
                        <img src="{% static game.image %}" class="game-image" alt="{{ game.name }}">
                        <h2>{{ game.name }}</h2>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</main>