{% load static %}
<main class="game-tour-wrapper responsive-table">
	<h1 class="game-1-header">Game 1</h1>

	<table class="table tournament-table">
		<thead>
			<tr>
				<th>Ranked</th>
				<th>Players</th>
				<th>Points</th>
				<th>Action</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>Name</td>
				<td>4/4</td>
				<td>5</td>
				<td><a href="#lobby-tournament"><button class="blue-btn join-btn">Join</button></a></td>
			</tr>
			<tr>
				<td>Name</td>
				<td>4/4</td>
				<td>5</td>
				<td><a href="#lobby-tournament"><button class="blue-btn join-btn">Join</button></a></td>
			</tr>
			<tr>
				<td>Name</td>
				<td>4/4</td>
				<td>5</td>
				<td><a href="#lobby-tournament"><button class="blue-btn join-btn">Join</button></a></td>
			</tr>
			<tr>
				<td>Name</td>
				<td>4/4</td>
				<td>5</td>
				<td><a href="#lobby-tournament"><button class="blue-btn join-btn">Join</button></a></td>
			</tr>
		</tbody>
	</table>
	<div class="button-container">
		<a href="#create-tournament" type="button" class="white-btn">
            Create Tournament
        </a>
	</div>
</main>
