{% load static %}
<main class="lobby-container">
    <div class="lobby-wrapper game-tour-wrapper">
        <h1>Lobby</h1>
        <h2>{{ tournament.name }}</h2>
        <h3 class="players-heading">Players:</h3>
        <div class="players-list">
            {% for player in tournament.users %}
                <div class="player">
                    {% if player.avatar %}
                        <img src="{{ player.avatar.url }}" alt="{{ player.username }} Avatar">
                    {% else %}
                        <img src="{% static 'img/user-image.png' %}" alt="{{ player.username }} Avatar">
                    {% endif %}
                    {% if player.alias %}
                        <p>{{ player.alias }}</p>
                    {% else %}
                        <p>{{ player.username }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</main>
