{% include 'header.html' %}
{% load static %}
<div class="User-section">
	<div class="custom-container">
		<div class="user-main-cont">
			<div class="user-cont">
				<div class="main-user">
					<div class="user-details">
						<div class="user-img">
							{% if user.avatar %}
							<img src="{{ user.avatar.url }}" alt="Avatar" width="100" height="100">
							{% else %}
							<img src="{% static 'img/user-image.png' %}" alt="Avatar" />
							{% endif %}
						</div>
						<div class="content">
							<div class="user-name-wrapper">
								<p class="user-name">{{ user.username }}</p>
							</div>
							<h2 class="user-nickname">{{ user.first_name }}</h2>
							<p class="user-email">{{ user.email }}</p>
						</div>
					</div>
					<div class="active-btn">
						<button>Active</button>
					</div>
				</div>
				<div class="navs-tabs">
					<div class="navs">
						{% for game in games %}
							<a class="tab-link" data-tab="tab{{ forloop.counter }}">{{ game.name }}</a>
						{% endfor %}
					</div>
					<div id="tab1" class="tab-content active-tab">
						<div class="stats">
							<h1>Stats</h1>
							<div class="cards-main">
								<div class="card">
									<h5>Wins</h5>
									<h1>00</h1>
								</div>
								<div class="card">
									<h5>Losses</h5>
									<h1>00</h1>
								</div>
								<div class="card">
									<h5>Ratio</h5>
									<h1>00</h1>
								</div>
								<div class="card">
									<h5>Trophies</h5>
									<h1>00</h1>
								</div>
							</div>
						</div>
						<div class="Matches">
							<h1>Matches History</h1>
							<div class="table">
								<div class="thead">
									<div class="tr data-one">Adversary</div>
									<div class="tr data-two">Score</div>
									<div class="tr data-three">Date</div>
									<div class="tr data-four">Status</div>
								</div>
								<div class="tbody">
									<div class="tr">
										<div class="td data-one">LOGIN 1</div>
										<div class="td data-two">6-5</div>
										<div class="td data-three">12-12-12</div>
										<div class="td data-four">Victory</div>
									</div>
									<div class="tr">
										<div class="td data-one">BOB</div>
										<div class="td data-two">10-1</div>
										<div class="td data-three">10-12-12</div>
										<div class="td data-four">Defeat</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="main-friend-list">
				<div class="friend-list">
					<div class="friend-list-heading">
						<h5>Friends List</h5>
					</div>
					<div class="categories-btns">
						<ul>
							<li><button class="c-btn all-friends-btn c-btn-active">All</button></li>
							<li><button class="c-btn online-friends-btn">Online</button></li>
							<li><button class="c-btn offline-friends-btn">Offline</button></li>
						</ul>
					</div>
					<div class="friend-list-members">
						<div class="friend-card online-friend">
							<div class="member-details">
								<img src="{% static 'img/user-image-s.png' %}" alt="" />
								<div>
									<h2>Robert Hudson</h2>
								</div>
							</div>
							<button class="active-member-btn">Active</button>
							<i class="fa-solid fa-user-xmark"></i>
						</div>
						<div class="friend-card online-friend">
							<div class="member-details">
								<img src="{% static 'img/user-image-s.png' %}" alt="" />
								<div>
									<h2>Robert Hudson</h2>
								</div>
							</div>
							<button class="active-member-btn">Active</button>
							<i class="fa-solid fa-user-xmark"></i>
						</div>
						<div class="friend-card online-friend">
							<div class="member-details">
								<img src="{% static 'img/user-image-s.png' %}" alt="" />
								<div>
									<h2>Robert Hudson</h2>
								</div>
							</div>
							<button class="active-member-btn">Active</button>
							<i class="fa-solid fa-user-xmark"></i>
						</div>

						<div class="friend-card offline-friend">
							<div class="member-details">
								<img src="{% static 'img/user-image-s.png' %}" alt="" />
								<div>
									<h2>Robert Hudson</h2>
								</div>
							</div>
							<button class="active-member-btn offline-member">
								Offline
							</button>
							<i class="fa-solid fa-user-xmark"></i>
						</div>
						<div class="friend-card offline-friend">
							<div class="member-details">
								<img src="{% static 'img/user-image-s.png' %}" alt="" />
								<div>
									<h2>Robert Hudson</h2>
								</div>
							</div>
							<button class="active-member-btn offline-member">
								Offline
							</button>
							<i class="fa-solid fa-user-xmark"></i>
						</div>
						<div class="friend-card offline-friend">
							<div class="member-details">
								<img src="{% static 'img/user-image-s.png' %}" alt="" />
								<div>
									<h2>Robert Hudson</h2>
								</div>
							</div>
							<button class="active-member-btn offline-member">
								Offline
							</button>
							<i class="fa-solid fa-user-xmark"></i>
						</div>
						<div class="friend-card end-btns offline-friend">
							<div class="member-details">
								<img src="{% static 'img/user-image-s.png' %}" alt="" />
								<div>
									<h2>Robert Hudson</h2>
								</div>
							</div>
							<button class="active-member-btn offline-member">
								Offline
							</button>
							<i class="fa-solid fa-user-xmark"></i>
						</div>
						<div class="friend-card end-btns offline-friend">
							<div class="member-details">
								<img src="{% static 'img/user-image-s.png' %}" alt="" />
								<div>
									<h2>Robert Hudson</h2>
								</div>
							</div>
							<button class="active-member-btn offline-member">
								Offline
							</button>
							<i class="fa-solid fa-user-xmark"></i>
						</div>
						<button class="add-friend">+ Add a Friend</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
