.white-btn {
    cursor: pointer;
    background-color: white;
    color: #000000;
    padding: 10px 40px;
    border-radius: 50px;
    border: 0;
    outline: 0;
    text-decoration: none;
  } 
  .blue-btn{
    background-color: #4e51ff;
    color: #fff;
    border: 0;
    font-size: 0.9rem;
    padding: 10px 40px;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
  }

  .blue-btn:hover {
    background: #fff;
    color: #4e51ff;
    transition: ease-in, 0.3s;
  }
  
  .blue-btn:active{
  transform: scale(0.98);
  }

  .white-btn:active{
    transform: scale(0.98);
  }

  .white-btn:hover {
    background: #4e51ff;
    color: #fff;
    transition: ease-in, 0.3s;
  }

/*SCROLLBAR*/

::-webkit-scrollbar-track {
  background: #37358c; 
}

::-webkit-scrollbar-thumb {
  background: #21194a;
  border: 2px solid transparent;
  border-radius: 24px;
  box-shadow: 4px 0px 0px 4px #00000040 inset;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px; 
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #00000040;
  border: 0px solid transparent;
  box-shadow: none;
}

/*FRIEND'S MODAL*/

.hidden {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 100;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 2rem;
  color: #000;
  cursor: pointer;
  border: none;
  background: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 560px;
  height: auto;
  background-color: #f5f5ff;
  border-radius: 13px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  overflow: auto;
  z-index: 1000;
  border: none;
}

.find-friends-header{
  padding: 3.5rem 3.5rem 2rem 3.5rem;
  
}

.find-friends-header .search input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border: 2px solid rgba(6, 5, 39, 0.827);
  border-radius: 40px;
  font-size: 16px;
  padding: 20px 45px 20px 20px;
  background: transparent;
  font-size: 16px;
  color: #21194a;
}

.find-friends-header .search::placeholder{
  color: #21194abc;
}

.find-friends-header .heading{
  color: #21194a;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  padding: 25px 0;
  margin-bottom: 10px;
}

.find-friends-result{
  padding: 0 3.5rem 3.5rem 3.5rem;
}

.find-friends-result .user-row{
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.find-friends-result .user-row .user-info{
  display: flex;
  align-items: center;
} 

.find-friends-result .user-row .user-info img{
  width:70px;
  border-radius: 50%;
  margin-right: 15px;
}

.find-friends-result .user-row .user-info span{
  font-weight: 600;
  color: #21194a;
}

.modal-add-btn{
  border: none;
  outline: none;
  background-color: #4e51ff;
  color: #fff;
  border-radius: 50px;
  padding: 10px 30px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 2px 2px 7px #4e51ff80;
  font-weight: 500;
}

.modal-add-btn:active{
  transform: scale(0.98);
}

/*footer*/

.footer {
  text-align: center;
  color: rgba(255, 255, 255, 0.713);
  width: 100%;
  height: 57px;
}