.white-btn {
    cursor: pointer;
    background-color: white;
    color: #000000;
    padding: 10px 40px;
    border-radius: 50px;
    border: 0;
    outline: 0;
    text-decoration: none;
  } 
  .blue-btn{
    background-color: #4e51ff;
    color: #fff;
    border: 0;
    font-size: 0.9rem;
    padding: 10px 40px;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
  }
