.dropdown-content {
    display: none;
    position: absolute;
    left: -185px;
    top: 75px;
    background-color: #f9f9f9;
    min-width: 360px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 17px;
    padding: 15px;
    z-index: 1111;
  }
  
  .dropdown-content .content {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 3px;
  }
  .dropdown-content-one {
    display: none;
    position: absolute;
    left: -271px;
    top: 75px;
    background-color: #f9f9f9;
    min-width: 360px;
    height: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 17px;
    padding: 20px;
    z-index: 1111;
  }
  .dropdown-content-one .content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6px;
  }
  
  .user-avatar-dropdown img{
    width: 85px;
    height: 85px;
    border-radius: 50%;

  }
  .user-avatar-dropdown {
    width: 67px;
    height: 67px;
    background: #21194a;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }
  .dropdown-content-one .content a {
    background-color: #21194a;
    border: none;
    width: 100%;
    border-radius: 10px;
    height: 50px;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dropdown-content-one .usercross{
    cursor: pointer;
  }
  
  .dropdown-content .check {
    position: absolute;
    right: 40px;
    z-index: 11;
    cursor: pointer;
  }
  .dropdown-content .cross {
    position: absolute;
    right: 20px;
    cursor: pointer;
  }
  .dropdown-content-one .usercross {
    position: absolute;
    right: 20px;
    font-size: 25px;
  }
  
  .dropdown-content .user-btn {
    width: 63px;
    height: 63px;
    background: #21194a;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .differ .btn-user , .differ .btn-gamepad{
    position: relative;
    top: 0;
  }
  .date-label{
    color: white;
    position: relative;
    top: 8px;
  }