.main-friend-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-width: 364px;
    width: 100%;
  }
  .friend-list .friend-list-heading {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 12px 26px;
    width: 100%;
  }
  .friend-list .friend-list-heading h5 {
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    text-align: center;
  }
  .friend-list .friend-list-heading h6 {
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    position: relative;
  }
  .friend-list .friend-list-heading h6::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #64ff86;
    right: -5px;
    top: 2px;
    border-radius: 10px;
  }
  .friend-list .offline-member h6::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #ababab;
    right: -5px;
    top: 2px;
    border-radius: 10px;
  }
  
  .friend-list .friend-list-members .friend-card {
    width: 100%;
    height: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 13px 11px 20px;
    background-color: #37358c;
    border-radius: 17px;
    margin-top: 3px;
  }
  .categories-btns ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .categories-btns ul li button{
    background-color: white;
    padding: 10px;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    width: 100px;
    border:none;
  }
  
  .categories-btns ul li button:hover{
    background-color: #3a3efd;
    color: #ffffff;
    transition: all ease 0.5s;
  }
  
  .categories-btns ul li button.c-btn-active{
    background-color: #3a3efd;
    color: #ffffff;
    transition: all ease 0.5s;
  }
  
  .friend-list .friend-list-members .end-btns {
    margin-top: 7px;
  }
  .friend-list .friend-list-members {
    margin-top: 12px;
  }
  .friend-list .friend-list-members .friend-card .member-details img {
    width: 40.86px;
    height: 40.86px;
    object-fit: cover;
  }
  .friend-list .friend-list-members .friend-card .member-details {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 13px;
  }
  .friend-list .friend-list-members .friend-card .member-details h2 {
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
  }
  .friend-list .friend-list-members .friend-card .member-details p {
    font-weight: 500;
    font-size: 8px;
    color: white;
  }
  .friend-list .friend-list-members .friend-card .active-member-btn {
    width: 79.3px;
    height: 21.63px;
    border-radius: 4px;
    background-color: #ffffff;
    font-weight: 500;
    font-size: 9px;
    color: #000000;
    border: none;
    position: relative;
  }
  .friend-list .friend-list-members .friend-card .active-member-btn::before {
    content: "";
    position: absolute;
    top: -3px;
    right: -3px;
    width: 6.76px;
    height: 6.76px;
    background-color: #64ff86;
    border: 1.8px solid #371619;
    border-radius: 10px;
  }
  .friend-list .friend-list-members .friend-card .offline-member::before {
    content: "";
    position: absolute;
    top: -3px;
    right: -3px;
    width: 6.76px;
    height: 6.76px;
    background-color: #ababab;
    border: 1.8px solid #371619;
    border-radius: 10px;
  }
  .fa-user-xmark{
    color: white;
    cursor: pointer;
  }
  .active-member-btn{
    position: relative;
    left: 17px;
  }
  .friend-list .friend-list-members .add-friend {
    width: 100%;
    height: 63px;
    border-radius: 13px;
    background: #3a3efd;
    border: none;
    margin-top: 9px;
    color: white;
    transition: all ease 0.5s;
  }
  .friend-list .friend-list-members .add-friend:hover {
    background-color: #fff;
    color: #3a3efd;
    cursor: pointer;
    transition: all ease 0.5s;
  }