.games-section {
    background-color: #21194a;
    border-radius: 10px;
    padding: 40px;
    margin: 0px 60px 30px 60px;
    color: white;
  }
  .games-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-top: 20px;
  }
  .game-image {
    border-radius: 10px;
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  .games-grid a {
    text-decoration: none;
    color: white;
  }
  
  .game-wrapper{
    border-radius: 10px;
    padding: 40px 40px 50px 40px;
    margin: 0px 160px 170px 160px;
    color: white;
    background: transparent;
    border:2px solid rgba(255, 255, 255, .2);
    backdrop-filter:blur(20px);
    box-shadow: 0 0 10px rgba(0 , 0 , 0 , .2);
  }
  
  .game-tour-wrapper{
    color: white;
    background: transparent;
    border:2px solid rgba(255, 255, 255, .2);
    backdrop-filter:blur(20px);
    box-shadow: 0 0 10px rgba(0 , 0 , 0 , .2);
    border-radius: 10px;
    padding: 40px;
    margin: 10px 80px 80px 80px;
  }

  .game-tour-wrapper p{
    text-align: center;
    margin-bottom: 10px;
  }

  .create-tour-wrapper{
    margin: 10px 160px 80px 160px;
    text-align: center;
  }

  .matchmaking-btn{
    margin-right: 10px;
  }

  .game-1-header {
    text-align: center;
    margin-bottom: 35px;
  }
  .game-rules {
    max-width: 80%;
    margin: 20px auto;
  }
  .game-rules li {
    padding-top: 10px;
  }

  .game-tour-wrapper input {
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #ffffffeb;
    padding: 10px 45px 10px 20px;
  }

  .game-tour-wrapper form {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
  }
  
  .game-tour-wrapper .table {
    text-align: center;
    max-width: 80%;
    margin: 20px auto;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
    table-layout: fixed;
  }
  .table tbody {
    background: #ffffff21;
  }
  .table tbody th,
  .table tbody td {
    padding: 15px;
  }
  .table tbody tr td:nth-child(1) {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  .table tbody tr td:nth-child(4) {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  
  .button-container {
    text-align: center;
    margin-top: 40px;
  }
  .button-container a {
    position: relative;
    left: 10px;
  }

  .tournament-create-form {
    max-width: 50%;
    margin: 40px auto;
  }
  
  .tournament-create-form input {
    width: 100%;
    margin-top: 15px;
    border: 0;
    outline: 0;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 18px 45px 18px 20px;
    margin-bottom: 15px;
  }
  
  .tournament-create-form label {
    position: relative;
    top: 20px;
    font-size: 18px;
    font-weight: 500;
  }

  .tournament-create-form select {
    position: relative;
    top: 20px;
    margin-left: 8px;
    font-size: 15px;
  }

  .tournament-create-form .blue-btn {
    margin-top: 30px;
  }

/****LOBBY*****/


.lobby-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lobby-wrapper h1 {
  font-size: 45px;
  margin-bottom: 15px;
}

.lobby-wrapper h2 {
  font-size: 34px;
  margin-bottom: 15px;
  color: #c5c6fd;
}

.lobby-wrapper h3 {
  margin-top: 10px;
}

.lobby-wrapper input {
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #ffffffeb;
  padding: 10px 45px 10px 20px;
}

.lobby-btn {
  margin-left: 15px;
}

#alias::placeholder {
  color: #a39f9f;
}

#aliasForm {
  margin-bottom: 20px;
}

.players-heading{
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: 25px;
  font-weight: 600;
}

.players-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  gap: 10px; 
  max-height: 380px;
}

.player {
  display: flex;
  align-items: center; 
  gap: 13px; 
  margin-bottom: 23px;
  margin-right: 50px;
}

.player img{
  border-radius: 50px;
  width: 60px;
  height: 60px;
}

.player p{
  font-size: 23px;
}

/***Responsive***/

@media (max-width: 780px) {
  html {
    max-width: 100%;
    overflow-x: hidden;
  }
  .main-content {
    max-width: 90%;
    margin: 20px auto;
    margin-bottom: 80px;
  }
  .index-container {
    max-width: 90%;
  }
  .footer-container p {
    font-size: 18px;
  }
  .games-section {
    margin: 30px 20px;
    padding: 20px;
  }
  .game-wrapper {
    margin: 30px 20px;
    padding: 20px;
  }
  .games-grid {
    grid-template-columns: 100%;
  }
  .game-rules {
    max-width: 95%;
  }
  .games-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 60px;
  }
  .table {
    min-width: 100%;
  }
  .tournament-create-form {
    min-width: 100%;
  }
  .table {
    overflow-x: auto;
    table-layout: fixed;
  }

  .blue-btn {
    width: 60%;
    font-weight: 400;
    padding: 10px 20px;
  }

  .button-container a {
    left: 0px;
  }

  .game-tour-wrapper .join-btn {
    width: 100px;
  }
}

@media (min-width: 779px) and (max-width: 991px) {
  html {
    max-width: 100%;
    overflow-x: hidden;
  }
  .main-content {
    max-width: 70%;
    margin: 30px auto;
  }
  .index-container {
    max-width: 70%;
  }
  .footer-container p {
    font-size: 18px;
  }
  .game-image {
    height: 400px;
  }
  .games-grid {
    grid-template-columns: 100%;
  }
}
@media (min-width: 991px) and (max-width: 1199px) {
  html {
    max-width: 100%;
    overflow-x: hidden;
  }
  .main-content {
    max-width: 70%;
    margin: 30px auto;
  }
  .index-container {
    max-width: 70%;
  }
  .footer-container p {
    font-size: 18px;
  }
  .game-image {
    height: 450px;
  }
}

@media screen and (max-width: 840px) {
  .game-tour-wrapper .blue-btn {
    font-size: 0.9rem;
    padding: 8px 30px;
    font-weight: 500;
  }

  .create-tour-wrapper{
    margin: 10px 100px 80px 100px;
  }
}

@media screen and (max-width: 430px) {
  .game-image {
    height: 250px;
  }

  .game-tour-wrapper .table {
    margin: 20px 10px 20px 30px;
    width: 100%;
  }

  .table {
    display: block;
  }

  .tournament-table {
    margin-left: 10px;
  }

  .tournament-table tbody td {
    padding: 3px 6px 3px 6px;
  }

  .tournament-table thead th {
    padding: 8px;
    font-weight: 400;
  }

  .game-tour-wrapper .white-btn {
    font-size: 15px;
    font-weight: 400;
    padding: 10px 15px;
  }

  .game-tour-wrapper .join-btn {
    font-size: 15px;
    font-weight: 400;
    padding: 10px 15px;
    width: 80px;
  }

  .responsive-table {
    padding: 20px 0px 20px 5px;
    margin: 5px 20px 80px 20px;
  }
}

@media screen and (max-width: 390px) {
  .game-tour-wrapper .table {
    margin: 20px 5px 20px 5px;
    width: 100%;
  }

  .tournament-table tbody td {
    padding: 3px 7px 3px 7px;
  }
}

/****Lobby tournament*****/
@media screen and (max-width: 780px)
{

  .lobby-container .lobby-btn{
    width: 120px;
  }

  .matchmaking-btn{
    margin-right: 0px;
  }

}

@media screen and (max-width: 430px)
{ 
  .lobby-container .game-tour-wrapper{
    margin: 10px 5px 80px 5px;
  }

  .lobby-wrapper h1 {
    font-size: 35px;
    margin-bottom: 12px;
  }

  .lobby-wrapper h2 {
    font-size: 25px;
  }

  .lobby-wrapper input {
    width: 285px;
  }

  .lobby-btn {
    margin-top: 15px;
  }

  .lobby-container .lobby-btn{
    width: 285px;
    margin-left: 0px;
  }

  #aliasForm {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}


/****Tournament tables responsive*****/
@media screen and (max-width: 860px)
{

  .game-tour-wrapper .lobby-btn{
    width: 120px;
    margin-top: 15px;
  }

}

@media screen and (max-width: 430px)
{ 
  .game-tour-wrapper{
    margin: 10px 5px 80px 5px;
  }

  .game-tour-wrapper h1 {
    font-size: 35px;
    margin-bottom: 12px;
  }

  .game-tour-wrapper input {
    width: 285px;
  }

  .lobby-btn {
    margin-top: 15px;
  }

  .game-tour-wrapper .lobby-btn{
    width: 285px;
    margin-left: 0px;
  }

  #alias-forms {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
