@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  background-image: url("https://www.zupimages.net/up/24/08/lbdw.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.main-content{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* Login and Register Page */ 

.wrapper {
    width: 420px;
    background: transparent;
    border:2px solid rgba(255, 255, 255, .2);
    backdrop-filter:blur(20px);
    box-shadow: 0 0 10px rgba(0 , 0 , 0 , .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;

}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;

}
.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}
.remember-forgot a{
    color: #fff;
    text-decoration: none;

}
.remember-forgot a:hover{
    text-decoration: underline;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    border-radius: 40px;
    border: none;
    outline: none;
    background: #fff;
    box-shadow: 0 0 10px rgba(0 , 0 , 0 , .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .btn-42{
  margin-top: 20px;
}
.wrapper .register-link{
   text-align: center;
    font-size: 14.5px;
    margin:20px 0 15px;
}
.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;

}
.register-link p a:hover{
    text-decoration: underline;
}

.wrapper-register {
  width: 490px;
}

.wrapper .input-box-reg{
  margin: 18px 0;
}

.avatar-placeholder {
  width: 180px;
  height: 180px;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  padding: 10px;
  position: relative;
}
.avatar-upload-icon {
  position: absolute;
  cursor: pointer;
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 50px;
  padding: 10px;
  margin-top: 160px;
  margin-left: -50px;
}
.avatar-upload-container {
  display: flex;
  justify-content: center;
}

/**********sex and date of birth fields*******************/

.wrapper .input-box-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: -19px;
}

.wrapper .input-box-group .input-box {
  width: calc(50% - 10px);
}

.birthdate-label,
.sex-label{
  position: relative;
  right:-15px;
  top: -8px;
}

.birthdate-label {
  top: -4px;
}

.input-box.date-input-box {
  width: 100%;
}

.input-box.date-input-box input[type="date"] {
  width: 100%;
  padding: 12px 20px;
  text-align: start;
  color: #ffffffba; 
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  margin-top: -30px;;
}

/*
.input-box.date-input-box input[type="date"]::-webkit-inner-spin-button,
.input-box.date-input-box input[type="date"]::-webkit-calendar-picker-indicator {
  display: none; 
  -webkit-appearance: none;
}
*/

.input-box.date-input-box input[type="date"]::placeholder {
  color: #fff;
  opacity: 1;
}


.sex-input-box{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 19px;
  color: #ffffffba;
  
}

.sex-input-box input[type="radio"] {
  margin-right: 4.2px;
  width: 15px;
}

@media (max-width: 490px) {
  .wrapper .input-box-group {
      flex-direction: column;
  }
  .wrapper .input-box-group .input-box {
      width: 100%;
      margin-bottom: 0px;
  }

  .wrapper .input-box-group .input-box:last-child {
      margin-bottom: 19px;
  }
}


/* ----Nav Bar Login/Register--- */
.nav {
  height: auto;
  width: 100%;
  background-color: transparent;
  position: relative;
  left: 30px;
  top: -15px;
  padding: 30px 0;
}

.nav-register {
  padding-left: 50px;
}

.nav-header {
  display: inline;
}

.nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
}

.footer-container p {
  color: white;
  padding: 10px 20px 30px 20px;
  text-align: center;
  font-size: 20px;
}

/* Games Page */

.games-section {
  background-color: #21194a;
  border-radius: 10px;
  padding: 40px;
  margin: 30px 60px;
  color: white;
}
.games-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin-top: 20px;
}
.game-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.games-grid a {
  text-decoration: none;
  color: white;
}

.game-wrapper{
  border-radius: 10px;
  padding: 40px;
  margin: 30px 150px;
  color: white;
  background: transparent;
  border:2px solid rgba(255, 255, 255, .2);
  backdrop-filter:blur(20px);
  box-shadow: 0 0 10px rgba(0 , 0 , 0 , .2);
}

.game-tour-wrapper{
  color: white;
  background: transparent;
  border:2px solid rgba(255, 255, 255, .2);
  backdrop-filter:blur(20px);
  box-shadow: 0 0 10px rgba(0 , 0 , 0 , .2);
  border-radius: 10px;
  padding: 40px;
  margin: 30px 60px;
}
.game-1-header {
  text-align: center;
}
.game-rules {
  max-width: 80%;
  margin: 20px auto;
}
.game-rules li {
  padding-top: 10px;
}

.game-tour-wrapper .table {
  text-align: center;
  max-width: 80%;
  margin: 20px auto;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 15px;
  table-layout: fixed;
}
.table tbody {
  background: #ffffff21;
}
.table tbody th,
.table tbody td {
  padding: 15px;
}
.table tbody tr td:nth-child(1) {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.table tbody tr td:nth-child(4) {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}
.button-container a {
  position: relative;
  left: 10px;
}
.white-btn {
  cursor: pointer;
  background-color: white;
  color: #000000;
  padding: 10px 40px;
  border-radius: 50px;
  border: 0;
  outline: 0;
  text-decoration: none;
} 
.blue-btn{
  background-color: #4e51ff;
  color: #fff;
  border: 0;
  font-size: 0.9rem;
  padding: 10px 40px;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

.tournament-create-form input {
  width: 100%;
  margin-top: 15px;
  border: 0;
  outline: 0;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}
.tournament-create-form {
  max-width: 50%;
  margin: 40px auto;
}
.tournament-create-form label {
  position: relative;
  top: 20px;
}


/* Responsive */

@media(max-width: 767px) {
  html {
    max-width: 100%;
    overflow-x: hidden;
  }
  .main-content {
    max-width: 90%;
    margin: 20px auto;
  }
  .index-container {
    max-width: 90%;
  }
  .footer-container p {
    font-size: 18px;
  }
  .games-section {
    margin: 30px 20px;
    padding: 20px;
  }
  .game-wrapper{
    margin: 30px 20px;
    padding: 20px;
  }
  .games-grid {
    grid-template-columns: 100%;
  }
  .game-rules {
    max-width: 95%;
  }
  .games-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 60px;
  }
  .table {
    min-width: 100%;
  }
  .tournament-create-form {
    min-width: 100%;
  }
  .table{
    display: block;
    overflow-x: auto;
    table-layout: fixed;
  }

  .blue-btn{
    width:60%;
    font-weight: 400;
    padding: 10px 20px;
  }

  .button-container a {
    left: 0px;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  html {
    max-width: 100%;
    overflow-x: hidden;
  }
  .main-content {
    max-width: 70%;
    margin: 30px auto;
  }
  .index-container {
    max-width: 70%;
  }
  .footer-container p {
    font-size: 18px;
  }
}
@media (min-width: 991px) and (max-width: 1199px) {
  html {
    max-width: 100%;
    overflow-x: hidden;
  }
  .main-content {
    max-width: 70%;
    margin: 30px auto;
  }
  .index-container {
    max-width: 70%;
  }
  .footer-container p {
    font-size: 18px;
  }
}


/***********Nav Bar************/

.custom-container {
  max-width: 1255px;
  width: 100%;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  display: flex;
  gap: 161px;
}
.navbar .logo h1 {
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  position: relative;
  top: 10px;
}
.nav-btns {
  background-color: #37358c;
  width: 152px;
  height: 67px;
  display: flex;
  justify-content: center;
  gap: 28px;
  align-items: center;
  border-radius: 17px;
  position: relative;
  left: 120px;
}
.nav-btns button {
  background-color: transparent;
  border: none;
}
.nav-btns .btn-user {
  width: 48px;
  height: 48px;
  position: relative;
  top: 10px;
}
.nav-btns .btn-gamepad {
  width: 32px;
  height: 24px;
  position: relative;
  right: 20px;
  bottom: 10px;
}
.nav-btns button img {
  width: 100%;
  height: 100%;
}
.end-nav-btns {
  display: flex;
  align-items: center;
  position: relative;
  right: 40px;
}
.end-nav-btns a {
  width: 67px;
  height: 67px;
  background: #21194a;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all ease 0.5s;
}
.end-nav-btns a:hover {
  background-color: #22194977;
  cursor: pointer;
  transition: all ease 0.5s;
}

.end-nav-btns a img {
  width: 35%;
}

.end-nav-btns .bell-btn::before {
  content: "";
  position: absolute;
  right: -4px;
  top: 0;
  background-color: #4e51ff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 5px solid #3b3078;
  z-index: 11;
}
.navbar .bar {
  font-size: 35px;
  color: #fff;
  display: none;
  margin-left: 6px;
}
.bell-btn,
.user-btn {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

/*****Dropdown****/

.dropdown-content {
  display: none;
  position: absolute;
  left: -185px;
  top: 75px;
  background-color: #f9f9f9;
  min-width: 360px;
  height: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 17px;
  padding: 15px;
  z-index: 1111;
}

.dropdown-content .content {
  display: flex;
  gap: 10px;
  align-items: center;
}
.dropdown-content-one {
  display: none;
  position: absolute;
  left: -271px;
  top: 75px;
  background-color: #f9f9f9;
  min-width: 360px;
  height: 230px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 17px;
  padding: 20px;
  z-index: 1111;
}
.dropdown-content-one .content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6px;
}

.user-avatar-dropdown img{
  width: 85px;
  height: 85px;
}
.user-avatar-dropdown {
  width: 67px;
  height: 67px;
  background: #21194a;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.dropdown-content-one .content a {
  background-color: #21194a;
  border: none;
  width: 100%;
  border-radius: 10px;
  height: 50px;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-content-one .usercross{
  cursor: pointer;
}

.dropdown-content .check {
  position: absolute;
  right: 40px;
  z-index: 11;
}
.dropdown-content .cross {
  position: absolute;
  right: 20px;
}
.dropdown-content-one .usercross {
  position: absolute;
  right: 20px;
  font-size: 25px;
}

.dropdown-content .user-btn {
  width: 67px;
  height: 67px;
  background: #21194a;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-bar {
  display: none;
}
.differ .btn-user , .differ .btn-gamepad{
  position: relative;
  top: 0;
}
.date-label{
  color: white;
  position: relative;
  top: 8px;
}

/*Responsive Navbar and Dropdown*/

@media screen and (max-width: 992px) {
  .navbar .bar {
    display: block;
  }
  .dropdown-content-one .content a {
    width: 100% !important;
    height: 50px !important ;
  }
  .list-bar {
    background-color: #382c6e;
    position: absolute;
    top: 100px;
    width: 100%;
    height: 125px;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    opacity: 0;
    transition: all ease-in 0.3s;
  }
  .show-list {
    opacity: 111;
    transition: all ease-in 0.3s;
  }
  .navbar .logo {
    display: block;
  }
  .navbar .logo h1 {
    position: relative;
    right: 20px;
    top: -3px;
  }
  .navbar .nav-btns {
    width: 142px;
    height: 57px;
    display: none;
  }
  .list-bar .nav-btns .btn-user {
    width: 24px;
    height: 24px;
    position: relative;
    top: 0;
  }
  .list-bar .nav-btns .btn-gamepad {
    width: 48px;
    height: 48px;
    position: relative;
    top: 2px;
    left: 0;
  }

  .navbar .end-nav-btns a {
    width: 57px;
    height: 57px;
  }

  .bell-btn,
  .user-btn {
    position: relative;
    display: inline-block;
    margin-right: 10px;
  }
  .dropdown-content-one {
    left: -270px;
    min-width: 320px;
    height: 216px;
    top: 70px;
    padding: 18px;
  }
  .dropdown-content {
    left: -270px;
    min-width: 320px;
  }
  .list-bar .nav-btns{
    position: relative;
    left: 0;
  }
}
@media screen and (max-width: 768px) {
  .navbar .logo {
    gap: 30px;
  }
  .navbar .logo h1 {
    font-size: 28px;
  }
  .navbar .nav-btns {
    width: 100px;
    height: 47px;
  }
  .navbar .nav-btns .btn-user {
    width: 28px;
    height: 328px;
  }
  .navbar .nav-btns .btn-gamepad {
    width: 18px;
    height: 18px;
  }
  .navbar .end-nav-btns a {
    width: 47px;
    height: 47px;
  }
  .navbar .end-nav-btns .bell-dropdown {
    width: 15px;
    height: 15px;
  }
  .navbar .end-nav-btns .user-dropdown {
    width: 15px;
    height: 15px;
  }
  .bell-btn,
  .user-btn {
    position: relative;
    display: inline-block;
    margin-right: 5px;
  }
  .navbar .end-nav-btns .bell-btn::before {
    width: 10px;
    height: 10px;
  }
  .dropdown-content-one {
    top: 60px;
    padding-bottom: 30px;
  }
  .dropdown-content {
    top: 60px;
  }
}
@media screen and (max-width: 576px) {
  .navbar .logo {
    gap: 10px;
  }
  .navbar .logo h1 {
    font-size: 20px;
  }
  .navbar .end-nav-btns .bell-btn::before {
    width: 8px;
    height: 8px;
    border: 4px solid #3b3078;
  }
  .dropdown-content {
    left: -196px;
    min-width: 295px;
    top: 55px;
  }
  .dropdown-content-one {
    left: -245px;
    min-width: 295px;
    top: 55px;
  }
  .navbar .end-nav-btns a {
    width: 40px;
    height: 40px;
  }
  .navbar .bar {
    font-size: 30px;
  }
}
@media screen and (max-width: 360px) {
  .navbar .logo h1 {
    font-size: 16px;
  }

  .dropdown-content {
    left: -166px;
    min-width: 286px;
    height: 85px;
    padding: 12px;
  }
  .dropdown-content-one {
    left: -204px;
    min-width: 262px;
  }
  .dropdown-content .user-btn {
    width: 60px;
    height: 60px;
  }
}

/* User Profile Section css starts from here */

.User-section {
  padding-top: 6px;
  padding-bottom: 60px;
}
.User-section .user-main-cont {
  display: flex;
  align-items: stretch;
  gap: 14px;
  width: 100%;
}
.User-section .user-cont {
  max-width: 859px;
  width: 100%;
}
.User-section .main-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 150px;
  background-color: #21194a;
  border-radius: 28px;
  padding: 17px 30px;
}
.User-section .main-user .user-details {
  width: 303.96px;
  height: 115.21px;
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;
}
.User-section .main-user .user-details .user-img {
  width: 106.98px;
  height: 106.98px;
  border-radius: 50%;
}
.User-section .main-user .user-details .user-img img {
  width: 100%;
}
.User-section .main-user .user-details .content .user-name-wrapper {
  width: 102.72px;
  height: 22.21px;
  background: #c5c6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16.5px;
}
.User-section .main-user .user-details .content .user-name-wrapper p {
  color: #000000;
  font-size: 10px;
  font-weight: 500;

  letter-spacing: 0.08em;
  text-align: left;
}
.User-section .main-user .user-details .content {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.User-section .main-user .user-details .content h2 {
  font-size: 46px;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
  line-height: 35px;
}
.User-section .main-user .user-details .content {
  font-family: Poppins;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.07em;
  text-align: left;
  color: #ffffff;
}
.User-section .main-user .active-btn button {
  width: 176px;
  height: 48px;
  background-color: #ffffff;
  border: none;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  border-radius: 11px;
  position: relative;
}
.User-section .main-user .active-btn button::before {
  content: "";
  position: absolute;
  right: -5px;
  top: -8px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #64ff86;
  border: 3px solid #21194a;
}
.User-section .navs-tabs {
  width: 100%;
  margin-top: 36px;
}
.User-section .navs-tabs .navs {
  display: flex;
  gap: 24px;
}
.User-section .navs-tabs .navs a {
  width: 417px;
  height: 76px;
  border-radius: 18px;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  color: #000000;
  cursor: pointer;
  transition: all ease 0.5s;
}

.User-section .navs-tabs .navs a.active {
  background: #3a3efd;
  color: #ffffff;
  transition: all ease 0.5s;
}

.User-section .navs-tabs .navs a:hover {
  background: #3a3efd;
  color: #ffffff;
  transition: all ease 0.5s;
}

.User-section .tab-content {
  display: none;
  margin: 12px 0;
}
.User-section .active-tab {
  display: block;
}
.User-section .tab-content .stats {
  padding: 29px 27px 35px 27px;
  background-color: #21194a;
  max-width: 859px;
  width: 100%;
  border-radius: 36px;
  margin-bottom: 12px;
}
.User-section .tab-content .stats h1 {
  font-size: 42px;
  line-height: 35px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 19px;
}
.User-section .tab-content .stats .cards-main {
  display: flex;
  gap: 15px;
}
.User-section .tab-content .stats .cards-main .card {
  width: 189px;
  height: 115px;
  border-radius: 28px;
  background: #3a3efd;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  padding: 21px 0 28px 0;
}
.User-section .tab-content .stats .cards-main .card h5 {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0em;
  color: #aeb2fd;
}
.User-section .tab-content .stats .cards-main .card h1 {
  font-size: 56px;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: 0em;
  margin: 0;
}
.User-section .tab-content .Matches {
  height: 227px;
  padding: 14px 27px 20px 27px;
  background-color: #21194a;
  max-width: 859px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 36px;
  margin-top: 12px;
}
.User-section .tab-content .Matches h1 {
  font-size: 42px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 15px;
}
.User-section .tab-content .Matches .table {
  width: 584px;
  border-radius: 13px;
  border-spacing: 0;
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.User-section .tab-content .Matches .table .thead {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 55px;
}

.User-section .tab-content .Matches .table .thead .tr {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  margin-left: -12px;
}
.User-section .tab-content .Matches .table .tbody {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.User-section .tab-content .Matches .table .tbody .tr {
  width: 100%;
  display: flex;
  background: #ffffff21;
  border-radius: 13px;
  height: 41px;
  align-items: center;
  justify-content: space-between;
  padding: 0 55px;
}
.User-section .tab-content .Matches .table .tbody .tr .td {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff6b;
}
.data-one {
  width: 80px;
}
.data-two {
  width: 46px;
}
.data-three {
  width: 57px;
}

.data-four{
  width: 50px;
}
@media screen and (max-width: 1280.89px) {
  .User-section .user-cont {
    max-width: 68%;
    width: 100%;
  }
  .User-section .navs-tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .User-section .navs-tabs .navs,
  .User-section .active-tab {
    width: 100%;
    justify-content: center;
  }
  .User-section .tab-content .Matches {
    margin: 12px auto;
  }
  .User-section .tab-content .stats {
    margin: 0 auto;
  }
}
@media screen and (max-width: 992px) {
  .User-section .user-main-cont {
    flex-wrap: wrap;
  }
  .User-section .user-cont {
    max-width: 100%;
    width: 100%;
  }
  .User-section .tab-content .stats .cards-main {
    flex-wrap: wrap !important;
    justify-content: center;
    align-items: center;
  }
  .User-section .main-user .user-details .user-img {
    width: 94.98px;
    height: 94.98px;
    border-radius: 50%;
  }
  .User-section .main-user .user-details .content h2 {
    font-size: 36px;
  }
  .User-section .navs-tabs .navs a {
    font-size: 18px;
  }
  .User-section .navs-tabs .navs {
    display: flex;
    gap: 18px;
  }
  .User-section .tab-content .stats h1 {
    font-size: 38px;
  }
  .User-section .tab-content .Matches h1 {
    font-size: 38px;
  }
  .User-section .tab-content .stats .cards-main .card h1 {
    font-size: 46px;
  }
  .User-section .tab-content .stats .cards-main .card h5 {
    font-weight: 500;
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .User-section .navs-tabs .navs {
    display: flex;
    gap: 14px;
  }
  .User-section .navs-tabs .navs a {
    height: 64px;
    font-size: 16px;
    border-radius: 10px;
  }
  .User-section .tab-content .stats h1 {
    font-size: 32px;
  }
  .User-section .tab-content .Matches h1 {
    font-size: 32px;
  }

  .User-section .tab-content .stats .cards-main .card {
    width: 234px;
    gap: 6px;
  }
}
@media screen and (max-width: 576px) {
  .User-section .main-user {
    height: fit-content;
    gap: 10px;
    justify-content: center;
  }
  .User-section .main-user .user-details .content h2 {
    font-size: 28px;
  }
  .User-section .main-user .active-btn button {
    width: 150px;
    height: 42px;
    font-size: 18px;
  }
  .User-section .navs-tabs .navs {
    display: flex;
    gap: 10px;
  }
  .User-section .navs-tabs .navs a {
    height: 54px;
  }

  .User-section .tab-content .stats {
    padding: 19px 8px 25px 8px;
  }

  .User-section .main-user .user-details .content {
    align-items: center;
  }
  .User-section .main-user .user-details {
    gap: 15px;
  }
  .User-section .main-user .user-details .user-img {
    width: 112.98px;
    height: 112.98px;
  }.User-section .main-user .active-btn button::before {
    width: 12px;
    height: 12px;
    right: -5px;
    top: -5;
  }
}
@media screen and (max-width: 558px) {
  .User-section .main-user .user-details {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  .User-section .tab-content .stats .cards-main .card {
    width: 100%;
    height: 140px;
  }
  .User-section .tab-content .stats {
    padding: 19px 20px 25px 20px;
  }
  .User-section .tab-content .Matches {
    padding: 14px 20px 20px 20px;
  }

  .User-section .tab-content .Matches .table .thead .tr {
    margin-left: -10px;
  }

  .data-three{
    margin-left: -10px;
  }

  .data-four{
    margin-left: -5px;
  }
}
@media screen and (max-width: 400px) {
  .User-section .tab-content .Matches {
    height: auto;
  }
  .User-section .tab-content .Matches .table .thead {
    padding: 0 10px;
  }
  .User-section .tab-content .Matches .table .tbody .tr {
    padding: 0 15px;
  }


}

/* friend-list css starts from here */

.main-friend-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  max-width: 364px;
  width: 100%;
}
.friend-list .friend-list-heading {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 12px 26px;
  width: 100%;
}
.friend-list .friend-list-heading h5 {
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  text-align: center;
}
.friend-list .friend-list-heading h6 {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  position: relative;
}
.friend-list .friend-list-heading h6::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #64ff86;
  right: -5px;
  top: 2px;
  border-radius: 10px;
}
.friend-list .offline-member h6::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #ababab;
  right: -5px;
  top: 2px;
  border-radius: 10px;
}

.friend-list .friend-list-members .friend-card {
  width: 100%;
  height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 13px 11px 20px;
  background-color: #37358c;
  border-radius: 17px;
  margin-top: 3px;
}
.categories-btns ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.categories-btns ul li button{
  background-color: white;
  padding: 10px;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  width: 100px;
  border:none;
}

.categories-btns ul li button:hover{
  background-color: #3a3efd;
  color: #ffffff;
  transition: all ease 0.5s;
}

.categories-btns ul li button.c-btn-active{
  background-color: #3a3efd;
  color: #ffffff;
  transition: all ease 0.5s;
}

.friend-list .friend-list-members .end-btns {
  margin-top: 7px;
}
.friend-list .friend-list-members {
  margin-top: 12px;
}
.friend-list .friend-list-members .friend-card .member-details img {
  width: 40.86px;
  height: 40.86px;
  object-fit: cover;
}
.friend-list .friend-list-members .friend-card .member-details {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 13px;
}
.friend-list .friend-list-members .friend-card .member-details h2 {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}
.friend-list .friend-list-members .friend-card .member-details p {
  font-weight: 500;
  font-size: 8px;
  color: white;
}
.friend-list .friend-list-members .friend-card .active-member-btn {
  width: 79.3px;
  height: 21.63px;
  border-radius: 4px;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 9px;
  color: #000000;
  border: none;
  position: relative;
}
.friend-list .friend-list-members .friend-card .active-member-btn::before {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
  width: 6.76px;
  height: 6.76px;
  background-color: #64ff86;
  border: 1.8px solid #371619;
  border-radius: 10px;
}
.friend-list .friend-list-members .friend-card .offline-member::before {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
  width: 6.76px;
  height: 6.76px;
  background-color: #ababab;
  border: 1.8px solid #371619;
  border-radius: 10px;
}
.fa-user-xmark{
  color: white;
  cursor: pointer;
}
.active-member-btn{
  position: relative;
  left: 17px;
}
.friend-list .friend-list-members .add-friend {
  width: 100%;
  height: 63px;
  border-radius: 13px;
  background: #3a3efd;
  border: none;
  margin-top: 9px;
  color: white;
  transition: all ease 0.5s;
}
.friend-list .friend-list-members .add-friend:hover {
  background-color: #fff;
  color: #3a3efd;
  cursor: pointer;
  transition: all ease 0.5s;
}
@media screen and (max-width: 1280px) {
  .main-friend-list {
    max-width: 30%;
    width: 100%;
  }
}

@media screen and (max-width: 1190px)
{
  .active-member-btn{
    left: 0px;
  }
}

@media screen and (max-width: 1070px)
{
  .active-member-btn{
    left: 0px;
  }
} 

@media screen and (max-width: 992px) {
  .main-friend-list {
    max-width: 100%;
    width: 100%;
    display: flex;

    gap: 18px;
    justify-content: center;
  }

  .active-member-btn{
    left: 0px;
  }
}

@media screen and (max-width: 767px) {
  .main-friend-list {
    flex-wrap: wrap;
  }
  .friend-list,
  .friend-list .friend-list-heading,
  .friend-list .friend-list-members,
  .User-section .tab-content .Matches .table {
    width: 100% !important;
  }
  .friend-list .friend-list-members .add-friend {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px auto;
  }
}

.friend-list .friend-list-members .end-btns {
  margin-top: 3px;
}

@media screen and (max-width: 360px)
{
  .active-member-btn{
    position: relative;
    left: 0px;
  }
}