/* Login and Register Page */ 

.main-content{
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
    width: 420px;
    background: transparent;
    border:2px solid rgba(255, 255, 255, .2);
    backdrop-filter:blur(20px);
    box-shadow: 0 0 10px rgba(0 , 0 , 0 , .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;

}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;

}
.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}
.remember-forgot a{
    color: #fff;
    text-decoration: none;

}
.remember-forgot a:hover{
    text-decoration: underline;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    border-radius: 40px;
    border: none;
    outline: none;
    background: #fff;
    box-shadow: 0 0 10px rgba(0 , 0 , 0 , .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .btn-42{
  margin-top: 20px;
}

.wrapper .btn:active{
  transform: scale(0.98);
}

.wrapper .btn-42:active{
  transform: scale(0.98);
}

.wrapper .register-link{
   text-align: center;
    font-size: 14.5px;
    margin:20px 0 15px;
}
.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;

}
.register-link p a:hover{
    text-decoration: underline;
}

.wrapper-register {
  width: 490px;
}

.wrapper .input-box-reg{
  margin: 18px 0;
}

.avatar-placeholder {
  width: 180px;
  height: 180px;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  padding: 10px;
  position: relative;
}
.avatar-upload-icon {
  position: absolute;
  cursor: pointer;
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 50px;
  padding: 10px;
  margin-top: 160px;
  margin-left: -50px;
}
.avatar-upload-container {
  display: flex;
  justify-content: center;
}

/*******sex and date of birth fields**********/

.wrapper .input-box-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: -19px;
}

.wrapper .input-box-group .input-box {
  width: calc(50% - 10px);
}

.birthdate-label,
.sex-label{
  position: relative;
  right:-15px;
  top: -8px;
}

.birthdate-label {
  top: -4px;
}

.input-box.date-input-box {
  width: 100%;
}

.input-box.date-input-box input[type="date"] {
  width: 100%;
  padding: 12px 20px;
  text-align: start;
  color: #ffffffba; 
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  margin-top: -30px;;
}

/*
.input-box.date-input-box input[type="date"]::-webkit-inner-spin-button,
.input-box.date-input-box input[type="date"]::-webkit-calendar-picker-indicator {
  display: none; 
  -webkit-appearance: none;
}
*/

.input-box.date-input-box input[type="date"]::placeholder {
  color: #fff;
  opacity: 1;
}

.sex-input-box{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 19px;
  color: #ffffffba;
  
}

.sex-input-box input[type="radio"] {
  margin-right: 4.2px;
  width: 15px;
}

/* ----Nav Bar Login/Register--- */
.nav {
    height: auto;
    width: 100%;
    background-color: transparent;
    position: relative;
    left: 30px;
    top: -15px;
    padding: 30px 0;
  }
  
  .nav-register {
    padding-left: 50px;
  }
  
  .nav-header {
    display: inline;
  }
  
  .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
  }