/*FRIEND'S MODAL*/

.hidden {
    display: none;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 100;
  }
  
  .close-modal {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 2rem;
    color: #000;
    cursor: pointer;
    border: none;
    background: none;
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 560px;
    height: auto;
    background-color: #f5f5ff;
    border-radius: 13px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    overflow: auto;
    z-index: 1000;
    border: none;
  }
  
  .find-friends-header{
    padding: 3.5rem 3.5rem 2rem 3.5rem;
    
  }
  
  .find-friends-header .search input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border: 2px solid rgba(6, 5, 39, 0.827);
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
    background: transparent;
    font-size: 16px;
    color: #21194a;
    text-align: center;
  }
  
  .find-friends-header .search::placeholder{
    color: #21194abc;
  }
  
  .find-friends-header .heading{
    color: #21194a;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    padding: 25px 0;
    margin-bottom: 10px;
  }
  
  .find-friends-result{
    padding: 0 3.5rem 3.5rem 3.5rem;
  }
  
  .find-friends-result .user-row{
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .find-friends-result .user-row .user-info{
    display: flex;
    align-items: center;
  } 
  
  .find-friends-result .user-row .user-info img{
    width:70px;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .find-friends-result .user-row .user-info span{
    font-weight: 600;
    color: #21194a;
  }
  
  .modal-add-btn{
    border: none;
    outline: none;
    background-color: #4e51ff;
    color: #fff;
    border-radius: 50px;
    padding: 10px 30px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 2px 2px 7px #4e51ff80;
    font-weight: 500;
  }
  
  .modal-add-btn:active{
    transform: scale(0.98);
  }
  
  @media screen and (max-width: 1000px) {
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  
  @media screen and (max-width: 430px) {
    .modal {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 330px;
      height: auto;
    }
  
    .find-friends-header .heading{
      font-size: 29px;
      font-weight: 600;
      padding: 15px 0;
      margin-bottom: 10px;
    }
  
    .find-friends-header .search input{
      width: 100%;
      height: 100%;
      font-size: 14px;
      padding: 14px 40px 14px 17px;
    }
  
    .find-friends-result{
      padding: 0 1.2rem 1.8rem 1.2rem;
    }
  
    .find-friends-result .user-row{
      padding: 10px 10px;
    }
  
    .find-friends-result .user-row .user-info img{
      width:55px;
      margin-right: 10px;
    }
  
    .find-friends-result .user-row .user-info span{
      font-weight: 500;
    }
  
    .modal-add-btn{
      padding: 10px 15px;
      font-weight: 400;
  
    }
  }

  /*loading Modal*/

.loading-modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 560px;
  height: auto;
  background-color: #f5f5ff;
  border-radius: 13px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  overflow: auto;
  z-index: 1000;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  margin: 0 auto;
  padding: 50px 40px 55px 40px;
  margin-bottom: 90px;
}

.loading-hidden {
  display: none;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 100;
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.loading-container p{
  font-size: 30px;
  font-weight: 500;
  color: #4245df;
  margin-bottom: 30px;
}

.loading-container .cancel-button{
  background-color: #4245df;
    color: #fff;
    border: 0;
    font-size: 0.9rem;
    padding: 10px 40px;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

.cancel-button:active{
  transform: scale(0.98);
  }

/*loader*/

.lds-ring {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #4245df;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #4245df transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 840px)
{

  .loading-modal p{
    font-size: 26px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 420px)
{

  .loading-modal{
    max-width: 90%;
  }

  .loading-modal p{
    font-size: 23px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 380px)
{


  .loading-modal p{
    font-size: 19px;
    margin-bottom: 25px;
  }
}

 /*Versus Modal*/

 .versus-modal{
  max-width: 80%;
  min-height: 300px;
  padding: 45px 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f5f5ff;
  border-radius: 13px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  overflow: auto;
  z-index: 1000;
  border: none;
 }

.versus-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 80px;

 }

 .versus-modal .versus-container .player-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
 }

 .versus-text{
  font-family: "Audiowide", sans-serif;
  font-size: 50px;
  color: #04075f;
 }

 .player-container .player-img img {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin-right: 5px;
}


 .player-container .player-name {
  font-size: 25px;
  font-weight: 500;
 }

 .display-hidden {
  display: none;
}

/*Winner Modal*/
.winner-modal{
  max-width: 80%;
  min-height: 300px;
  padding: 55px 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f5f5ff;
  border-radius: 13px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  overflow: auto;
  z-index: 1000;
  border: none;
 }

 .winner-container{
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .winner-heading{
  font-size: 75px;
  color: #04075f;
  margin-bottom: 20px;

 }

 .winner-img img{
  width: 110px;
  height: 110px;
  border-radius: 50%;
 }

 .winner-name{
  font-size: 32px;
  font-weight: 600;
  color: #0a10b2;
 }

 .winner-hidden{
  display: none;
 }