.custom-container {
    max-width: 1255px;
    width: 100%;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  
  .navbar .logo {
    display: flex;
    gap: 161px;
  }
  .navbar .logo h1 {
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    position: relative;
    top: 10px;
  }
  .nav-btns {
    background-color: #37358c;
    width: 152px;
    height: 67px;
    display: flex;
    justify-content: center;
    gap: 28px;
    align-items: center;
    border-radius: 17px;
    position: relative;
    right: 25px;
  }
  .nav-btns button {
    background-color: transparent;
    border: none;
  }
  .nav-btns .btn-user {
    width: 48px;
    height: 48px;
    position: relative;
    top: 10px;
  }
  .nav-btns .btn-gamepad {
    width: 32px;
    height: 24px;
    position: relative;
    right: 20px;
    bottom: 10px;
  }
  .nav-btns button img {
    width: 100%;
    height: 100%;
  }
  .end-nav-btns {
    display: flex;
    align-items: center;
    position: relative;
    right: 40px;
  }
  .end-nav-btns a {
    width: 67px;
    height: 67px;
    background: #21194a;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all ease 0.5s;
  }
  .end-nav-btns a:hover {
    background-color: #22194977;
    cursor: pointer;
    transition: all ease 0.5s;
  }
  
  .end-nav-btns a img {
    width: 35%;
  }
  
  .end-nav-btns .bell-btn::before {
    content: "";
    position: absolute;
    right: -4px;
    top: 0;
    background-color: #4e51ff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 5px solid #3b3078;
    z-index: 7;
  }
  .navbar .bar {
    font-size: 35px;
    color: #fff;
    display: none;
    margin-left: 6px;
  }
  .bell-btn,
  .user-btn {
    position: relative;
    display: inline-block;
    margin-right: 20px;
  }
  
  .list-bar {
    display: none;
  }