/***login/resgister***/

@media (max-width: 490px) {
    .wrapper .input-box-group {
        flex-direction: column;
    }
    .wrapper .input-box-group .input-box {
        width: 100%;
        margin-bottom: 0px;
    }
  
    .wrapper .input-box-group .input-box:last-child {
        margin-bottom: 19px;
    }
  }

/***Games***/

@media(max-width: 767px) {
    html {
      max-width: 100%;
      overflow-x: hidden;
    }
    .main-content {
      max-width: 90%;
      margin: 20px auto;
    }
    .index-container {
      max-width: 90%;
    }
    .footer-container p {
      font-size: 18px;
    }
    .games-section {
      margin: 30px 20px;
      padding: 20px;
    }
    .game-wrapper{
      margin: 30px 20px;
      padding: 20px;
    }
    .games-grid {
      grid-template-columns: 100%;
    }
    .game-rules {
      max-width: 95%;
    }
    .games-btns {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      margin-top: 60px;
    }
    .table {
      min-width: 100%;
    }
    .tournament-create-form {
      min-width: 100%;
    }
    .table{
      display: block;
      overflow-x: auto;
      table-layout: fixed;
    }
  
    .blue-btn{
      width:60%;
      font-weight: 400;
      padding: 10px 20px;
    }
  
    .button-container a {
      left: 0px;
    }
  }
  
  @media (min-width: 767px) and (max-width: 991px) {
    html {
      max-width: 100%;
      overflow-x: hidden;
    }
    .main-content {
      max-width: 70%;
      margin: 30px auto;
    }
    .index-container {
      max-width: 70%;
    }
    .footer-container p {
      font-size: 18px;
    }
  }
  @media (min-width: 991px) and (max-width: 1199px) {
    html {
      max-width: 100%;
      overflow-x: hidden;
    }
    .main-content {
      max-width: 70%;
      margin: 30px auto;
    }
    .index-container {
      max-width: 70%;
    }
    .footer-container p {
      font-size: 18px;
    }
  }

/*Responsive Navbar and Dropdown*/

@media screen and (max-width: 992px) {
    .navbar .bar {
      display: block;
    }
    .dropdown-content-one .content a {
      width: 100% !important;
      height: 50px !important ;
    }
    .list-bar {
      background-color: #382c6e;
      position: absolute;
      top: 100px;
      width: 100%;
      height: 125px;
      z-index: 11;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
      opacity: 0;
      transition: all ease-in 0.3s;
    }
    .show-list {
      opacity: 111;
      transition: all ease-in 0.3s;
    }
    .navbar .logo {
      display: block;
    }
    .navbar .logo h1 {
      position: relative;
      right: 20px;
      top: -3px;
    }
    .navbar .nav-btns {
      width: 142px;
      height: 57px;
      display: none;
    }
    .list-bar .nav-btns .btn-user {
      width: 24px;
      height: 24px;
      position: relative;
      top: 0;
    }
    .list-bar .nav-btns .btn-gamepad {
      width: 48px;
      height: 48px;
      position: relative;
      top: 2px;
      left: 0;
    }
  
    .navbar .end-nav-btns a {
      width: 57px;
      height: 57px;
    }
  
    .bell-btn,
    .user-btn {
      position: relative;
      display: inline-block;
      margin-right: 10px;
    }
    .dropdown-content-one {
      left: -270px;
      min-width: 320px;
      height: 216px;
      top: 70px;
      padding: 18px;
    }
    .dropdown-content {
      left: -270px;
      min-width: 320px;
    }
    .list-bar .nav-btns{
      position: relative;
      left: 0;
    }
  }
  @media screen and (max-width: 768px) {
    .navbar .logo {
      gap: 30px;
    }
    .navbar .logo h1 {
      font-size: 28px;
    }
    .navbar .nav-btns {
      width: 100px;
      height: 47px;
    }
    .navbar .nav-btns .btn-user {
      width: 28px;
      height: 328px;
    }
    .navbar .nav-btns .btn-gamepad {
      width: 18px;
      height: 18px;
    }
    .navbar .end-nav-btns a {
      width: 47px;
      height: 47px;
    }
    .navbar .end-nav-btns .bell-dropdown {
      width: 15px;
      height: 15px;
    }
    .navbar .end-nav-btns .user-dropdown {
      width: 15px;
      height: 15px;
    }
    .bell-btn,
    .user-btn {
      position: relative;
      display: inline-block;
      margin-right: 5px;
    }
    .navbar .end-nav-btns .bell-btn::before {
      width: 10px;
      height: 10px;
    }
    .dropdown-content-one {
      top: 60px;
      padding-bottom: 30px;
    }
    .dropdown-content {
      top: 60px;
    }
  }
  @media screen and (max-width: 576px) {
    .navbar .logo {
      gap: 10px;
    }
    .navbar .logo h1 {
      font-size: 20px;
    }
    .navbar .end-nav-btns .bell-btn::before {
      width: 8px;
      height: 8px;
      border: 4px solid #3b3078;
    }
    .dropdown-content {
      left: -196px;
      min-width: 295px;
      top: 55px;
    }
    .dropdown-content-one {
      left: -245px;
      min-width: 295px;
      top: 55px;
    }
    .navbar .end-nav-btns a {
      width: 40px;
      height: 40px;
    }
    .navbar .bar {
      font-size: 30px;
    }
  }
  @media screen and (max-width: 360px) {
    .navbar .logo h1 {
      font-size: 16px;
    }
  
    .dropdown-content {
      left: -166px;
      min-width: 286px;
      height: 85px;
      padding: 12px;
    }
    .dropdown-content-one {
      left: -204px;
      min-width: 262px;
    }
    .dropdown-content .user-btn {
      width: 60px;
      height: 60px;
    }
  }

/***Responsive User profile******/

@media screen and (max-width: 1280.89px) {
    .User-section .user-cont {
      max-width: 68%;
      width: 100%;
    }
    .User-section .navs-tabs {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .User-section .navs-tabs .navs,
    .User-section .active-tab {
      width: 100%;
      justify-content: center;
    }
    .User-section .tab-content .Matches {
      margin: 12px auto;
    }
    .User-section .tab-content .stats {
      margin: 0 auto;
    }
  }
  @media screen and (max-width: 992px) {
    .User-section .user-main-cont {
      flex-wrap: wrap;
    }
    .User-section .user-cont {
      max-width: 100%;
      width: 100%;
    }
    .User-section .tab-content .stats .cards-main {
      flex-wrap: wrap !important;
      justify-content: center;
      align-items: center;
    }
    .User-section .main-user .user-details .user-img {
      width: 94.98px;
      height: 94.98px;
      border-radius: 50%;
    }
    .User-section .main-user .user-details .content h2 {
      font-size: 36px;
    }
    .User-section .navs-tabs .navs a {
      font-size: 18px;
    }
    .User-section .navs-tabs .navs {
      display: flex;
      gap: 18px;
    }
    .User-section .tab-content .stats h1 {
      font-size: 38px;
    }
    .User-section .tab-content .Matches h1 {
      font-size: 38px;
    }
    .User-section .tab-content .stats .cards-main .card h1 {
      font-size: 46px;
    }
    .User-section .tab-content .stats .cards-main .card h5 {
      font-weight: 500;
      font-size: 14px;
    }
  }
  @media screen and (max-width: 768px) {
    .User-section .navs-tabs .navs {
      display: flex;
      gap: 14px;
    }
    .User-section .navs-tabs .navs a {
      height: 64px;
      font-size: 16px;
      border-radius: 10px;
    }
    .User-section .tab-content .stats h1 {
      font-size: 32px;
    }
    .User-section .tab-content .Matches h1 {
      font-size: 32px;
    }
  
    .User-section .tab-content .stats .cards-main .card {
      width: 234px;
      gap: 6px;
    }
  }
  @media screen and (max-width: 576px) {
    .User-section .main-user {
      height: fit-content;
      gap: 10px;
      justify-content: center;
    }
    .User-section .main-user .user-details .content h2 {
      font-size: 28px;
    }
    .User-section .main-user .active-btn button {
      width: 150px;
      height: 42px;
      font-size: 18px;
    }
    .User-section .navs-tabs .navs {
      display: flex;
      gap: 10px;
    }
    .User-section .navs-tabs .navs a {
      height: 54px;
    }
  
    .User-section .tab-content .stats {
      padding: 19px 8px 25px 8px;
    }
  
    .User-section .main-user .user-details .content {
      align-items: center;
    }
    .User-section .main-user .user-details {
      gap: 15px;
    }
    .User-section .main-user .user-details .user-img {
      width: 112.98px;
      height: 112.98px;
    }.User-section .main-user .active-btn button::before {
      width: 12px;
      height: 12px;
      right: -5px;
      top: -5;
    }
  }
  @media screen and (max-width: 558px) {
    .User-section .main-user .user-details {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: auto;
    }
    .User-section .tab-content .stats .cards-main .card {
      width: 100%;
      height: 140px;
    }
    .User-section .tab-content .stats {
      padding: 19px 20px 25px 20px;
    }
    .User-section .tab-content .Matches {
      padding: 14px 20px 20px 20px;
    }
  
    .User-section .tab-content .Matches .table .thead .tr {
      margin-left: -10px;
    }
  
    .data-three{
      margin-left: -10px;
    }
  
    .data-four{
      margin-left: -5px;
    }
  }
  @media screen and (max-width: 400px) {
    .User-section .tab-content .Matches {
      height: auto;
    }
    .User-section .tab-content .Matches .table .thead {
      padding: 0 10px;
    }
    .User-section .tab-content .Matches .table .tbody .tr {
      padding: 0 15px;
    }
  
  
  }

  /********Friend's list*******/

  @media screen and (max-width: 1280px) {
    .main-friend-list {
      max-width: 30%;
      width: 100%;
    }
  }
  
  @media screen and (max-width: 1190px)
  {
    .active-member-btn{
      left: 0px;
    }
  }
  
  @media screen and (max-width: 1070px)
  {
    .active-member-btn{
      left: 0px;
    }
  } 
  
  @media screen and (max-width: 992px) {
    .main-friend-list {
      max-width: 100%;
      width: 100%;
      display: flex;
  
      gap: 18px;
      justify-content: center;
    }
  
    .active-member-btn{
      left: 0px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .main-friend-list {
      flex-wrap: wrap;
    }
    .friend-list,
    .friend-list .friend-list-heading,
    .friend-list .friend-list-members,
    .User-section .tab-content .Matches .table {
      width: 100% !important;
    }
    .friend-list .friend-list-members .add-friend {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 12px auto;
    }
  }
  
  .friend-list .friend-list-members .end-cards {
    margin-top: 3px;
  }
  
  @media screen and (max-width: 360px)
  {
    .active-member-btn{
      position: relative;
      left: 0px;
    }
  }