{% load static %}
<div class="nav-btns">
    {% if page == 'games' or page == 'home' %}
    <a href="#profile" class="btn-user">
        <i class="fa-solid fa-user"></i>
    </a>
    <a href="#games" class="btn-gamepad game-active">
        <i class="fa-solid fa-gamepad" style="color: #7289fd;"></i>
    </a>
    <a href="#dashboard" class="btn-dashboard">
        <i class="fa-solid fa-chart-line"></i>
    </a>
    {% elif page == 'profile' %}
    <a href="#profile" class="btn-user user-active">
        <i class="fa-solid fa-user" style="color: #7289fd;"></i>
    </a>
    <a href="#games" class="btn-gamepad">
        <i class="fa-solid fa-gamepad"></i>
    </a>
    <a href="#dashboard" class="btn-dashboard">
        <i class="fa-solid fa-chart-line"></i>
    </a>
    {% elif page == 'dashboard' %}
    <a href="#profile" class="btn-user">
        <i class="fa-solid fa-user"></i>
    </a>
    <a href="#games" class="btn-gamepad">
        <i class="fa-solid fa-gamepad"></i>
    </a>
    <a href="#dashboard" class="btn-dashboard dash-active">
        <i class="fa-solid fa-chart-line" style="color: #7289fd;"></i>
    </a>
    {% else %}
    <a href="#profile" class="btn-user">
        <i class="fa-solid fa-user"></i>
    </a>
    <a href="#games" class="btn-gamepad">
        <i class="fa-solid fa-gamepad"></i>
    </a>
    <a href="#dashboard" class="btn-dashboard">
        <i class="fa-solid fa-chart-line"></i>
    </a>
    {% endif %}
</div>