{% load static %}
<div class="bell-btn">
    <a class="dropdown-toggle" data-dropdown="bellDropdown" data-count="0" >
        <img src="{% static 'img/Group 4.svg' %}" alt="" />
    </a>
    <div class="dropdown-content" id="bellDropdown">
    {% if not notifications %}
        <div class="content">
            <p class="message">No notifications</p>
        </div>
    {% else %}
        {% for notification in notifications %}
            <div class="content notif">
                <div class="user-btn">
                    <img src="{% static 'img/Group 3.svg' %}" alt="" />
                </div>
                <p class="message">{{ notification.message }}</p>
                <i class="fa-solid fa-check check accept-request" id="accept-{{ notification.id }}"></i>
                <i class="fa-solid fa-xmark cross deny-request" id="deny-{{ notification.id }}"></i>
            </div>
        {% endfor %}
    {% endif %}
    </div>
</div>
<!-- visibility: hidden; -->